@{
    ViewBag.Title = "LinkButton Control Variations - Ext.NET MVC Menus";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section menu 
{
    <h2>Simple LinkButton</h2>
    
    @(X.LinkButton()
        .Text("Click")
        .OnClientClick("Ext.Msg.alert('Clicked', 'LinkButton');")
    )
    
    <h2>LinkButton with Icon and Click DirectEvent</h2>
    
    @(X.LinkButton()
        .Icon(Icon.Accept)
        .Text("Click")
        .DirectEvents(de =>
            de.Click.Url = Url.Action("Button_Click")
        )
    )
    
    <h2>LinkButton with Right Aligned Icon</h2>
    
    @(X.LinkButton()
       .Icon(Icon.Accept)
       .IconAlign(IconAlign.Right)
       .Text("Click")
    )
    
    <h2>LinkButton with Menu</h2>
    
    @(X.LinkButton()
       .Icon(Icon.Accept)
       .IconAlign(IconAlign.Right)
       .Text("Click")
       .Menu(X.Menu()
              .Items(
                  X.MenuItem()
                   .Text("Add")
                   .Icon(Icon.Add),
                  X.MenuItem()
                   .Text("Accept")
                   .Icon(Icon.Accept)
           )
       )
    )
    
    <h2>LinkButton in a ToggleGroup</h2>
    
    @(X.LinkButton()
       .Icon(Icon.GroupAdd)
       .Text("Add group")
       .ToggleGroup("Group1")
    )
    @(X.LinkButton()
       .Icon(Icon.GroupDelete)
       .Text("Delete  group")
       .ToggleGroup("Group1")
    )
    @(X.LinkButton()
       .Icon(Icon.GroupEdit)
       .Text("Edit group")
       .ToggleGroup("Group1")
    )
}