@{
    Layout = null;
    HttpContext.Current.Items["ext.net.mvc.menu"] = true;
}

<!DOCTYPE html>

<html>
<head>
    @RenderSection("meta", false)
    <title>@ViewBag.Title</title>    
	@RenderSection("headtag", false)
</head>
<body>
      @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)
      @RenderSection("menu", true)
</body>
</html>
