@{
    Layout = null;
    this.Session["Ext.Net.Theme"] = Theme.Gray;
}

<!DOCTYPE html>

<html>
<head>
	<title>水电工程施工安全隐患排查预警系统</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css")" />
	<script src="@Url.Content("resources/js/main.js")"></script>
</head>
<body>
    @Html.X().ResourceManager()
    @Html.X().History().Listeners(l => l.Change.Fn = "change")

    @RenderPage("~/Views/Main/_ViewPort.cshtml")
    
    @*<form id="downloadForm" class="x-hidden"></form>*@

</body>
</html>